@model Contact
<h2>Delete Contact</h2>
<p>Do you really want to delete <b>@Model.firstName @Model.lastName?</b></p>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="contactId" />
    <button type="submit" class="btn dimgray-btn">Yes, Delete</button>
    <a href="@Url.Action("Details", "Contacts", new { id = Model.contactId })">Cancel</a>
</form>
