body {
    font-family: Calibri;
    margin: 25px;
}

.calculateButton {
    margin-right: 10px;
}

.discountAmount {
    margin-left: 38px;
}

.divSpacing {
    margin-bottom: 10px;
}

.totalAmount {
    margin-left: 120px;
}

#discountPercent {
    margin-left: 42px;
    margin-bottom: 10px;
}

#subtotal {
    margin-left: 98px;
    margin-bottom: 10px;
}
